# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

# Node / Nuxt / frontend-nuxt / socket-server
node_modules/
dist/
build/
.output/
.nuxt/
coverage/
*.log
.env
.env.*
!.env.example

# PHP / Laravel / backend-api
vendor/
bootstrap/cache/*.php
storage/*.key
.phpunit.result.cache

# Cypress
frontend-nuxt/cypress/screenshots/
frontend-nuxt/cypress/videos/
frontend-nuxt/cypress/downloads/

# Docker
*.local.yml
